// src/styles/about.scss
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 40px;
    max-height: 80vh;
    
    .about-content {
      max-width: 800px;
      text-align: center;
      margin-top: 40px;
      color: var(--text-color);
  
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #f6921e;
      }
  
      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
  
      .link {
        color: #3851a3;
        text-decoration: underline;
  
        &:hover {
          color: #f6921e;
        }
      }
    }
  }
