.App {
    min-height: 140vh;
    
    .home-infos {
        display: flex;
        flex-direction: column;
        padding: 60px 90px;
        background-color: #f6921e;
        color: #081950;

        .home-title {
            font-size: 48px;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        .home-description {
            font-size: 16px;
        }   
    }

    .projects {
        margin: 40px 70px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;

        .project-view{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    // Ajustes para telas menores
    @media (max-width: 1200px) {
        .home-infos {
            padding: 40px 60px;

            .home-title {
                font-size: 36px; // Tamanho menor para o título
            }

            .home-description {
                font-size: 14px; // Ajuste menor para a descrição
            }
        }

        .projects {
            margin: 30px 50px;
            gap: 20px; // Menor espaçamento entre os projetos
        }
    }

    @media (max-width: 768px) {
        .home-infos {
            box-sizing: content-box;
            padding: 30px 40px 30px 60px;
            text-align: center;
            .home-title {
                font-size: 28px; // Título menor para tablets
            }

            .home-description {
                font-size: 18px;
                margin-bottom: 12px;
            }
        }

        .projects {
            margin: 20px 30px;
            flex-direction: column; // Empilhar os projetos em telas menores
            gap: 15px; // Menor espaçamento

            .projects-title{
                font-size: 36px;
                font-weight: bold;
                color: #081950;
                text-align: center;
            }

            .projects-found{
                text-align: center;
                font-weight: lighter;
                color: #3851a3;
            }
        }
    }
}
