.App {
    min-height: 140vh;
    
    .home-infos {
        display: flex;
        flex-direction: column;
        padding: 60px 90px;
        background-color: #f6921e;
        margin-top: 30px;
        color: #081950;

        .home-title {
            font-size: 48px;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        .home-description {
            font-size: 16px;
        }   
    }

    .projects {
        margin: 40px 70px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }

    // Ajustes para telas menores
    @media (max-width: 1200px) {
        .home-infos {
            padding: 40px 60px;

            .home-title {
                font-size: 36px; // Tamanho menor para o título
            }

            .home-description {
                font-size: 14px; // Ajuste menor para a descrição
            }
        }

        .projects {
            margin: 30px 50px;
            gap: 20px; // Menor espaçamento entre os projetos
        }
    }

    @media (max-width: 768px) {
        .home-infos {
            padding: 30px 40px;
            height: 40vh;

            .home-title {
                font-size: 28px; // Título menor para tablets
            }

            .home-description {
                font-size: 18px;
            }
        }

        .projects {
            margin: 20px 30px;
            flex-direction: column; // Empilhar os projetos em telas menores
            gap: 15px; // Menor espaçamento
        }
    }

    @media (max-width: 480px) {
        .home-infos {
            padding: 20px 20px;
            height: 55vh;
            text-align: center;

            .home-title {
                font-size: 28px; // Ajuste para smartphones
            }

            .home-description {
                font-size: 18px;
            }
        }

        .projects {
            margin: 10px 20px;
            gap: 10px; // Reduzir ainda mais o espaçamento
        }
    }
}
