.filter-container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);

    margin-top: 40px;
    padding: 20px 30px;
    width: 92%;
    justify-self: center;

    .filter-saves {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .filter-title {
        font-size: 20px;
        font-weight: bold;
        color: var(--primary);
    }

    .filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        .filter-item {
            box-sizing: border-box;
            flex: 1 1 calc(33% - 20px);
            /* Ajusta para três colunas */
            min-width: 250px;
            /* Garante tamanho mínimo */

            .search-input {
                height: 36px;
                box-sizing: border-box;
                padding: 0 10px;
                border-radius: 6px;
                font-size: 14px;
                color: #aaaaaa;
                border: 1px solid #ccc;
                width: 100%;
            }

            select {
                height: 40px;
                align: center;
                padding: 0 10px;
                border-radius: 6px;
                font-size: 14px;
                background-color: white;
                color: #aaaaaa;
                border: 1px solid #ccc;
                width: 100%;

                &:hover,
                &:focus {
                    border-color: #007bff;
                }
            }
        }

        .btn-filter {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            background-color: var(--primary);
            color: white;
            border-radius: 6px;
            cursor: pointer;
            border: none;

            &:hover {
                background-color: var(--secondary);
            }
        }
    }

    .expand-button {
        background-color: var(--primary);
        color: white;
        border: none;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: var(--secondary);
        }
    }
}

@media (max-width: 768px) {
    .filter-container {
        width: 85%;
        padding: 10px;
        text-align: center;

        .filter-saves {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    .filters {
        flex-direction: column;
        align-items: center;

        .filter-item {
            flex: 1 1 100%;
            min-width: unset;

            .search-input,
            select {
                width: 100%;
            }
        }
    }
}

