.header-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0 70px;
  background-color: var(--background);

  .logo {
    height: 80px;
  }

  .header-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    .header-item {
      font-size: 16px;
      cursor: pointer;
      color: var(--primary);

      &:hover {
        transition: .4s;
        color: var(--secondary);
      }
    }
  }

  .language {
    width: 100px; // Defina uma largura adequada
  }

  .language-select {
    .flag-icon {
      width: 30px;
      height: 30px;
    }

    .react-select__control {
      border-radius: 4px; // Ajuste o arredondamento se necessário
      border-color: var(--primary); // Altere a cor da borda
    }

    .react-select__single-value {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px; // Espaçamento entre a bandeira e o texto
      }
    }

    .react-select__menu {
      border-radius: 4px; // Arredondamento para o menu de opções
    }
  }

  .menu-toggle {
    display: none; // Inicialmente escondido

    .menu-icon {
      font-size: 30px;
      z-index: 99;
      color: var(--primary);
      cursor: pointer;
    }
  }
}

// Responsividade
// Responsividade
@media (max-width: 768px) {
  .header-container {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
    border-bottom: 1px solid #b6b6b6ab;

    .logo {
      height: 50px;
    }
    
    .language {
      width: 100px; // Defina uma largura adequada
      position: absolute;
      top: 80px;
    }

    .header-items {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70%; // Largura do menu
      background-color: #f6921e; // Cor do fundo
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 30;
      transition: transform 0.5s ease; // Transição suave ao abrir/fechar
      transform: translateX(100%); // Posição inicial fora da tela à direita

      &.open {
        transform: translateX(0); // Mover o menu para dentro da tela
      }

      .header-item {
        margin-bottom: 20px; // Espaçamento entre os itens do menu
      }
    }

    .menu-toggle {
      display: block; // Mostrar botão de menu
      cursor: pointer;
    }

    .close-icon {
      position: absolute; // Para garantir que o ícone seja posicionado corretamente
      top: 20px; // Ajuste conforme necessário
      right: 5px; // Ajuste conforme necessário
      font-size: 30px;
      z-index: 1010; // Certifique-se de que esteja acima de outros elementos
      color: var(--primary);
      transition: .4s;
    }
  }
}

