.header-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  margin: 10px 90px;
  position: relative;

  .logo {
    height: 80px;
  }

  .header-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    .header-item {
      font-size: 16px;
      cursor: pointer;
      color: var(--primary);

      &:hover {
        transition: .4s;
        color: var(--secondary);
      }
    }

    // Estilo para o menu expansivo
    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px; // Para que o menu fique abaixo do cabeçalho
      left: 0;
      right: 0;
      background-color: #f6921e; // Cor do fundo
      padding: 20px 0;
      z-index: 1000; // Para garantir que fique acima de outros elementos
    }
  }

  .language {
    width: 100px; // Defina uma largura adequada
  }
  
  .language-select {

    .flag-icon{
      width: 30px;
      height: 30px;
    }

    .react-select__control {
      border-radius: 4px; // Ajuste o arredondamento se necessário
      border-color: var(--primary); // Altere a cor da borda
    }
  
    .react-select__single-value {
      display: flex;
      align-items: center;
  
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px; // Espaçamento entre a bandeira e o texto
      }
    }
  
    .react-select__menu {
      border-radius: 4px; // Arredondamento para o menu de opções
    }
  }
  
  .menu-toggle {
    display: none; // Inicialmente escondido

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 4px auto;
      background-color: var(--primary);
      transition: 0.3s;

      &.open {
        background-color: var(--secondary);
      }
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .header-container {
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    
    .logo {
      height: 50px;
    }

    .header-items {
      display: none; // Esconder itens do cabeçalho por padrão

      &.open {
        display: flex; // Mostrar ao abrir o menu
      }
    }

    .menu-toggle {
      display: block; // Mostrar botão de menu
      cursor: pointer;
    }
  }
}
